@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/KaushanScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster.ttf') format('truetype');
}

.home{
    background-color: #d3e9ed;
    min-height: 100vh;
}

body{
    height: auto !important ;
    font-family: system-ui;
    overflow-y: scroll;
}

.header-mobile-menu-icon{
    background: url("../toggle.svg")
}

.link-certificate{
    color: rgba(0, 0, 0, 0.45)
}
