@font-face {
    font-family: 'Kaushan';
    src: url('../fonts/KaushanScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('../fonts/lobster.ttf') format('truetype');
}

.home{
    background-color: #d3e9ed;
    min-height: 100vh;
}

body{
    height: auto !important ;
    font-family: system-ui;
    overflow-y: scroll;
}

.classic_first{
    content:url("../img/aboutme_01.jpeg");
}

.bzenth{
    content:url("../img/bzenth.png")
}

.gradulator{
    content:url("../img/gradulator.png")
}

.opnv{
    content:url("../img/oepnv.png")
}

.hartwork{
    content:url("../img/hartwork.png")
}

.classic_second{
    content:url("../img/aboutme_02.jpeg");
}

.image-contact{
    content: url("../img/contact.jpeg")
}

.header-mobile-menu-icon{
    background: url("../toggle.svg")
}

.home_classic_image{
    content:url("../img/home.jpeg");
}

.link-certificate{
    color: rgba(0, 0, 0, 0.45);
    outline: black !important;
    text-decoration: underline !important
}

.avatar_blog{
    content: url("../img/blog/benjamin.jpeg")
}

.blog_tripas{
    content: url("../img/blog/tripas.jpeg")
}

.blog_fish{
    content: url("../img/blog/fisch.jpeg")
}

.blog_passadicios_01{
    content: url("../img/blog/passadicos_1.jpeg")
}

.blog_passadicios_02{
    content: url("../img/blog/passadicos_2.jpeg")
}

.blog_wald{
    content: url("../img/blog/wald.jpeg")
}

.blog_stadion{
    content: url("../img/blog/stadion.jpeg")
}

.blog_stadion_nah{
    content: url("../img/blog/stadion_nah.jpeg")
}

.blog_park{
    content: url("../img/blog/park.jpeg");
}

.houses{
    content: url("../img/blog/houses.jpeg")
}

.beach_01{
    content: url("../img/blog/beach_01.jpeg");
}

.beach_02{
    content: url("../img/blog/beach_02.jpeg");
}

.walk_costa{
    content: url("../img/blog/walk.jpeg");
}