@font-face {
    font-family: 'Kaushan';
    src: url('./KaushanScript.ttf') format('truetype');
}

@font-face {
    font-family: 'Lobster';
    src: url('./lobster.ttf') format('truetype');
}

.home{
    background-color: #d3e9ed;
    min-height: 100vh;
}

body{
    height: auto !important ;
    font-family: system-ui;
    overflow-y: scroll;
}

.berlin{
    background-image: url("../static/berlin.jpg");
}

.es{
    background-image: url("../static/es.jpg");
}