/*Style Desktop Layout*/

@media screen and (min-width: 1025px) {

body{
    margin: 0;
    font-family: system-ui;
}

.header{
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0
}

.header-wrapper{
    height: 100%;
}

.header-image{
    background-image: url("./header.jpg");
    background-size: cover;
    height: 200px;
    background-position: center;
    border-bottom: 1px solid black;
    transition: all .5s linear;
}

.header-nav{
    width: 100%;
    display: block;
    text-align: center;
    position: absolute;
    background: rgba(0,0,0,.1);
}

.header-mobile-menu-wrapper{
    display: none
}

.header-element{
    padding: 1.5em 1.5em;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    height: 100%;
    color: white;
    display: inline-block;
    text-transform: uppercase;
}


.header-scroll-down{
    position: absolute;
    bottom: 0;
    margin-left: 48%;
    margin-right: 48%;
    display: none;
    color: white
}

.header-name-text{
    color: white;
    width: 100%;
    text-align: center;
    font-family: Brush Script MT,cursive;
    font-size: 150px;
    position: absolute;
    bottom: 150px
}

.contact{
    padding-top: 230px;
    padding-left: 30px;
    width: 100%;
}

.contact-options{
    display: inline-flex;
    margin-left: 10%;
    margin-top: 20px
}

.contact-icons{
    display: grid
}

.contact-heading{
    font-size: 50px;
    margin-left: 20%;
}

.contact-mailadress{
    font-size: 20px;
    margin-left: 10px;
    padding: 5px
}

.contact-text{
    font-size: 20px;
    margin-left: 10px;
    padding: 5px;
    margin-top: 15px;
}

.contact-icon{
    margin-top: 15px;
}

.contact-image{
    background-image: url("./contact.jpg");
    background-size: cover;
    height: 337px;
    width: 40%;
    float: right;
    margin-right: 5%;
    border: 1px solid black
}

.contact-first-line{
    font-size: 20px;
    width: 50%;
    margin-top: 10px;
}

.contact-second-line{
    font-size: 17px;
    margin-top: 10px;
    width: 50%;
}

.projects-box{
    padding-top: 230px
}

.projects-heading{
    width: 100%;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
}

.projects-heading-underline{
    font-size: 20px;
    text-align: center;
}

.projects-picture-left{
    width: 95%;
    background-color: gainsboro;
    min-height: 50px;
    margin-top: 10px;
    display: inline-flex;
    border: 1px solid black;
    margin-left: 2.5%;
    margin-bottom: 25px;
}

.projects-picture-right{
    width: 95%;
    background-color: gray;
    min-height: 50px;
    margin-bottom: 25px;
    display: inline-flex;
    border: 1px solid black;
    margin-left: 2.5%;
}

.projects{
    width: 100%;
}

.project-oepnv-image{
    background-image: url("./oepnv.png");
    background-size: cover;
    width: 600px;
    height: 337.5px;
    margin: 3%;
    border: 1px solid black
}

.project-bzenth-image{
    background-image: url("./bzenth.png");
    background-size: cover;
    width: 600px;
    height: 337.5px;
    margin: 3%;
    border: 1px solid black
}

.project-left-content{
    width: 50%;
    margin: 3%
}

.project-right-content{
    width: 50%;
    margin: 3%
}

.project-hartwork-image{
    background-image: url("./oepnv.png");
    background-size: cover;
    width: 600px;
    height: 337.5px;
    margin: 3%;
    border: 1px solid black
}

.project-heading{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.project-description-one{
    margin-top: 10px;
    font-size: 18px;
}

.project-description-two{
    margin-top: 10px;
    font-size: 18px;
    display: inline-grid
}

.project-press-link{
    display: list-item;
    margin-left: 20%;
    color: black
}

.project-description-three{
    font-size: 18px;
    margin-top: 10px;
}

.project-link{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 18px;
    color: black
}

.skills{
    padding-top: 230px;
}

.programming{
    width: 100%;
}

.skills-heading{
    text-align: center;
}

.skills-one-category{
    width: 70%;
    margin-left: 25%;
}

.single-skill{
    display: inline-flex;
    min-height: 30px;
    margin-left: 5%;
    width: 40%;
}

.rating-element{
    padding: 2px
}

.skill-name{
    width: 30%;
}

.notFound-content{
    padding-top: 230px;
    padding-left: 3em;
}

.notFound-image{
    background-image: url("./404.jpg");
    width: 400px;
    height: 300px;
    background-position: center;
    background-size: cover;
    margin-left: 40%;
    margin-top: 1em;
    border: 1px solid black;
}

.private-content{
    padding-top: 230px
}

.private-cv-title{
    text-align: center;
}

.private-single-cv{
    display: flex;
    padding: .5em
}

.cv-time{
    width: 20%;
}

.private-cv{
    width: 70%;
    margin-left: 23%;
}

.private-private-title{
    padding-top: 1em;
    text-align: center;
}

.private-private{
    margin-left: 23%;
    padding: .5em;
    width: 50%;
}

.private-image-berlin{
    background-image: url("./berlin.jpg");
    background-size: cover;
    width: 300px;
    height: 200px;
}

.private-image{
    width: 300px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.home-content{
    padding-top: 230px
}

.home-welcome{
    text-align: center;
    font-size: 40px;
    min-height: 80px;
    display: grid
}

.home-rotating-text{
    font-family: "Courier New", Courier, monospace;
    height: 40px;

}

.home-welcome-text{
    font-family: fantasy;
    font-size: 40px;
    font-weight: normal;
    margin: 0
}

.home-images{
    display: inline-flex;
    width: 100%;
    margin-top: 3em;
}

.home-images-plan{
    background-image: url("/static/plan.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    cursor: pointer
}

.home-text-box{
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 1px solid black
}

.home-images-code{
    background-image: url("/static/code.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    cursor: pointer;
    border: 1px solid black
}


.home-images-page{
    background-image: url("/static/page.jpg");
    background-size: cover;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    cursor: pointer
}

.home-single-image{
    width: 33%;
    height: auto;
    text-align: center;
}

.home-underline{
    font-size: 20px;
    margin-top: 10px
}

.home-icon-black{
    cursor: pointer;
    float: right;
    padding: 1%;
    color: black
}

.home-icon-white{
    cursor: pointer;
    float: right;
    padding: 1%;
    color: white
}

.home-info-text{
    height: 70%;
    margin-top: 20%;
    text-align: justify;
    padding-left: 5%;
    padding-right: 10%;
}

.form-contact{
    width: 100%;
    display: inline-flex;
    padding-top: 2em;
    margin-bottom: 5em;
}

.form-description{
    margin-left: 1em
}

.form-mail{
    margin-left: 1em
}

.form-crawler{
    display: none
}

.form-button{
    margin-left: 1em
}

.contact-formular-heading{
    text-align: center;
    width: 100%;
}

.contact-message-success{
    color: darkgreen;
    font-size: 20px;
}

.contact-success{
    display: inline-flex;
    padding-top: 1em
}

.contact-success-button{
    margin-left: 1em
}

.header-name-scroll{
    color: white;
    text-align: center;
    bottom: 75px;
    font-size: 30px;
    position: absolute;
    width: 100%;
    animation: blinker 1s linear infinite;
    font-style: italic;
}

@keyframes blinker {
    50% {
      opacity: 0;
    }
  }



}